*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
ul{list-style: none; text-transform: capitalize;}
#dashboard{
	min-height: 100vh;
	background: #F1F1F1;
	font-family:calibri;
	font-size: 18px;
	position: relative;
}
#dashboard .sidebar{
	background:#333333;
	width:250px;
	padding:10px;
	color:white;
	position: fixed;
	left:0;
	top:0;
	height:100vh;
}
#dashboard .sidebar ul>li{
	padding:5px;
}
#dashboard .sidebar>ul>li:first-child{
	border-bottom:1px solid white;
}
#dashboard .sidebar ul>li:hover{background:#444444;}
#dashboard .sidebar ul>li>.fa{
	width:30px;
}
#dashboard .sidebar ul>li>ul>li{margin-left:30px}