*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.show_block{display:block;}
.hide_block{display:none;}
.main_div{
	background: #3598DC;
	display: flex;
	justify-content:center;
	align-items: center;
	min-height: 100vh;
	font-family: calibri;
}
.main_div>form{
	width: 450px;
	min-height: 400px;
	padding:2em;
	border-radius: 3px;
	background-color:white;
}
.main_div>form>input[type="text"]{
	width: 49%;
}
.main_div>form>input{
	width: 100%;
	padding:5px;
	margin:10px 0;
	font-size: 17px;
}
.main_div form button{
	font-size: 17px;	
	border:none;
	background:  #3598DC;
	color:white;
	padding:10px 20px;
	margin: 20px 0;
}
.main_div p>span{
	color:blue;
	text-decoration:underline;
}
.main_div p>span:hover{
	cursor:pointer;
}