html{scroll-behavior: smooth;}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family:calibri;
}
.container{max-width: 1170px;margin: auto;padding:10px;}
.text-center{text-align:center;}
.text-white{color:white;}
.d-flex{display: flex;}
.justify-content-between{justify-content: space-between;}
.flex-wrap{flex-wrap:wrap;}
.align-items-start{align-items: flex-start;}
.d-block{display: block !important;}
.mb-5{margin-bottom: 50px;}
.mt-5{margin-top: 50px;}
.myopa{opacity: 1 !important;}


.arrow_rotate{transform:rotate(-90deg);}
.zoomIn{transform: scale(1) !important;
    transition:1s !important;}
.fadeIn{
    transition: 1s !important;
    margin-left:0px !important;
    opacity:1 !important;
}
.slideLeft{
    transform: translateX(25vw) !important;
}
/* nav */
nav{
    background: white;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
    max-height: 78px;
    padding:7px 0;
    border-bottom:rgb(0,0,0,0.2) solid 1px;
}
nav>.container{
    display: flex;
    justify-content:space-between;
}
nav h2{text-transform: uppercase;}
nav>.container .menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    font-size:19px;
    text-transform:capitalize;
}
.menu>li{
    margin-left:20px;
    padding:5px 10px;
    border-radius:3px;
}
ul li a{color:black; text-decoration: none;}
ul>li:hover{cursor:pointer;}
.menu>li:hover a{color:#10ADAD;}
.menu>li:hover .submenu{color:black;}
.submenu>li:hover{background:rgba(0,0,0,0.1);color:#10ADAD;}
.biglist{
    position:relative;
}
nav>.container .submenu{
    list-style: none;
    display: none;
    background:white;
    box-shadow: 0 0 1px grey;
}
nav>.container .biglist .submenupos{
    position: absolute;
    margin-top:5px;
    left:0px;
    width: 150px;
}
.submenu li{
    padding:5px 10px;
}
nav .mybars{
    display: none;
    padding:5px;
    font-size: 25px;
}
nav .mybars:hover{
    opacity: 0.9;
    cursor: pointer;
}

/* banner   */
.banner{
    /* background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/couple.jpg');
    background-size: cover;
    background-position: center; */
    color:rgb(233, 223, 223);
    position: relative;
    overflow: hidden;
    margin-top:70px;
}
.banner h2,.banner button{text-transform: uppercase;}
.banner>img,.banner>.blayer{
    position: absolute;
    top:0;left: 0;
    width: 100%;
    height:95vh;
}
.banner>img{
    z-index: -10;
    transform: scale(1.2);
}
.banner>.blayer{
    z-index: -9;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.banner>.container{
    display: flex;;
    height: 83vh;
}
/* .banner>.container>div{
    width:50vw;
} */
.banner h2,.banner p{
    margin-top:1.2em;
    width:50vw;
    margin-left:50px;
    transition: 0.3s;
    opacity: 1;
}
.banner p{font-size: 20px;}
.banner button{
    border:none;
    font-size: 16px;
    font-weight: bold;
    padding:10px 20px;
    background-color: rgb(16, 173, 173);
    color:rgb(233, 223, 223);
    margin-top:2em;
    border-radius:50px;

    margin-left:50px;
    opacity: 1;
}

/* .icons_div */
.icons_div{
    background-color:#50C6C6;
    padding:3em 0;
    min-height: 350px;
}
.icons_div .container>div{
    border-radius: 5px;
    transition-duration: 0.2s;
    padding:10px;
    border:1px solid rgba(0,0,0,0.1);
    /*width: 30%;*/
}
.icons_div .container>div:hover{
    background: rgb(0,0,0,0.1);
}
.icons_div .container>div:hover p>span{
    box-shadow:none;
    padding:1em;
}
.icons_div p{
    margin-bottom:1em;
}
.icons_div p>span{
    font-size:2em;
    padding:0.8em;
    transition: 0.2s;
    border-radius: 50%;
    background-color: #277B7B;
    box-shadow:0 0 6px grey;
}

/*imagesdiv*/
.images_div{
    padding:3em 0;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('./images/wines.jpg');
    background-attachment: fixed;
}
.images_div .d-flex>div{
    width:30%;
}
.images_div img{
    height:250px;
    width:100%;
    margin:0;
    padding:0;
}
.images_div .black_div{
    background-color: #201b1b;
    padding:1em;
    margin-top: -5px;
}
.images_div .black_div h4{
    font-size: 1.5em;
}
.images_div .black_div button,.sideby_div button{
    background-color:rgb(16, 173, 173);
    color:white;
    font-size:18px;
    padding:10px 20px;
    border:none;
    margin-top:20px;
    border-radius:50px;
}

/* .sideby_div */
.sideby_div .d-flex>div{
    width:45%;
    color:rgb(123 117 117);
    padding:2em 0;
}
.sideby_div h2{
    font-size:35px;
    margin-bottom:0.8em;
}
.sideby_div ul{
    margin-left:28px;
    margin-bottom:0.8em;
    margin-top: 0.8em;
}
.sideby_div ul li{
    line-height:30px;
}
.sideby_div img{
    width: 100%;
    min-height: 400px;
}
.sideby_div button:last-child{
    background-color:#232323;
    margin-left:1em;
}

/* .sponsers_div */
.sponsers_div{
    padding:3.6em 0;
    background-color:rgb(202 182 182 / 19%);
}

.partners_div{ padding: 3.6em 0;}
.partners_div img{
    width: 200px;
    height: 200px;
    border-radius:50%;
    border:2px solid rgb(122, 189, 189);
}
.sponserPartnerH1{
    position: relative;
}
.sponserPartnerH1:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left:0;
    width: 100%;
    height:4px;
    background: #10ADAD;
}
.sponserPartnerMb{
    margin-bottom: 1em;
}


/*inputdiv*/
.input_div{
    background-color: rgb(16, 173, 173);
    padding:7px;
}
.input_div h1 span.fa{
    font-size: 22px;
    color:#3f3f40;
    margin-right:1em;
}
.input_div .container>div{ 
    display:flex;
    width: 45%;
}
.input_div input{
    width:50%;
    padding:10px;
    color:black;
    border-radius:20px;
    border:none;
}
.input_div button{
    border-radius:20px;
    color:rgb(91, 182, 182);
    font-size: 18px;
    padding:7px 15px;
    margin-left:1em;
    background-color:#232323;
    border:none;
}

.contact_details,footer{
    background-color:#232323;
    color:#6D6D6D;
    padding:10px;
}
.contact_details .container>div{width: 45%;}
.contact_details h1{
    margin-bottom: 1em;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom:2px solid #6D6D6D;
    position: relative;
}
.contact_details h1:after{
    content: '';
    position: absolute;
    left: 0;
    top:47px;
    width: 50px;
    height:2px;
    background:#10ADAD;
}
.contact_details ul{
    list-style: none;;
    margin-top: 1em;;
}
.scrollTop{
    position: fixed;
    right:25px;
    padding-top:15px;
    text-align: center;
    bottom:15px;
    width: 50px;
    height: 50px;
    background:black;
    color:white;
    transition: 0.3s;
    border-radius: 50%;
    opacity:0;
}
.fadeUp{opacity: 1;bottom: 25px;}
.scrollTop:hover{
    cursor: pointer;
    background: #10AAAA;
}

footer{
    border-top:1px solid #6D6D6D;
}

@media(max-width:800px){
    /*nav*/
    .justify-content-between{justify-content:space-around;}
    nav .mybars{display: block;}
    nav>.container .menu{
        display: block;
        width:50vw;
        height: 87vh;
        margin-top: 60px;
        transform: translateX(74vw);
        box-shadow: 0 0 2px grey;
        background: white;
        transition-duration:0.2s;
        transition-timing-function: ease-out;
    }
    .contact_details .container>div{
        margin-top: 50px;
        width:100%;
    }
    .images_div .d-flex>div{
    margin-top: 50px;
    width:45%;
    }
    .icons_div .container>div{
        margin-top: 50px;
        width:40%;
    }
    .sideby_div .d-flex>div{
    width:100%;
    }
}


@media(max-width:600px){
    .images_div .d-flex>div{
    margin-top: 50px;
    width:100%;
    }
}